{% extends 'base.html.twig' %}

{% block title %}roots - settings
{% endblock %}

{% block body %}
	<div class="jumbotron bg-blue">
		<h1 class="display-6">Unauthorized.</h1>
	</div>

	<div
		class="card w-75 mx-auto" style="margin-top:20px;">
		{# settings #}
		<div class="card-body text-center">
			<p>Sorry, you are unauthorized to access this page. <a href="/">Return to Homepage</a></p>
		</div>
	</div>
{% endblock %}