<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap" rel="stylesheet">
    <title>roots -- explore text</title>

    <!-- Compressed CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css"
        integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/motion-ui@1.2.3/dist/motion-ui.min.css" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


    <!-- Compressed JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.6.3/js/foundation.min.js"
        integrity="sha256-pRF3zifJRA9jXGv++b06qwtSqX1byFQOLjqa2PTEb2o=" crossorigin="anonymous"></script>
</head>
{% load static %}

<body>
    <div class="menu-bar" id="menu-bar">
        <a data-toggle="menu-list"><img class="menu-hamburger" src="{% static 'frontend/img/hamburger.svg' %}"></a>
        <div class="menu-signuplogin">
            <a data-toggle="signup-dropdown">sign up</a> |
            <a data-toggle="login-dropdown">log in</a>
        </div>
        <div class="menu-title">
            <a href="/">roots</a>
        </div>
    </div>

    <div class="page-body center">
        <h3 class="space2">explore text-based creators.</h3>

        <div class="orbit white-card" role="region" aria-label="Favorite Space Pictures" data-orbit>
            <div class="orbit-wrapper">
                <div class="orbit-controls">
                    <button class="orbit-previous"><span class="show-for-sr">Previous
                            Slide</span>&#9664;&#xFE0E;</button>
                    <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
                </div>
                <ul class="orbit-container center">
                    <li class="is-active orbit-slide">
                        <!-- User card example #4 -->
                        <div class="card-user-container">
                            <!--card's image-->
                            <div class="card-user-avatar">
                                <img src="{% static 'frontend/img/patrick-brewer.jpg' %}" alt="" class="user-image">
                            </div>
                            <!--user info name, bio and location-->
                            <div class="card-user-bio">
                                <h4>Patrick Brewer</h4>
                                <p class="space">
                                    Thoughtful, practical, and business-savvy entrepreneurial blogs.
                                </p>
                                <p class="small-text">
                                    Empower yourself with the knowledge you need for a successful small business.
                                    After successful management of Rose Apothecary, I am extending my services to others.
                                    Learn how to put a unique spin on your product today!
                                </p>
                                <span class="location"><span class="location-icon fa fa-map-marker"></span><span
                                        class="location-text">Ontario, CA</span></span>
                            </div>

                            <!--card's follow button-->
                            <div class="card-user-button small-text space3">
                                <a href="#" class="btn-view">view page</a>
                            </div>

                            <!--card's socail icons-->
                            <div class="card-user-social">
                                <ul class="menu">
                                    <li class="fa fa-twitter"></li>
                                    <li class="fa fa-dribbble"></li>
                                    <li class="fa fa-instagram"></li>
                                    <li class="fa fa-github"></li>
                                  </ul>
                            </div>
                        </div>

                    </li>
                    <li class="orbit-slide">
                        <figure class="orbit-figure">
                            <img class="orbit-image" src="https://placehold.it/1200x600/888?text=Slide-2" alt="Space">
                        </figure>
                    </li>
                    <li class="orbit-slide">
                        <figure class="orbit-figure">
                            <img class="orbit-image" src="https://placehold.it/1200x600/777?text=Slide-3" alt="Space">
                        </figure>
                    </li>
                    <li class="orbit-slide">
                        <figure class="orbit-figure">
                            <img class="orbit-image" src="https://placehold.it/1200x600/666&text=Slide-4" alt="Space">
                        </figure>
                    </li>
                </ul>
            </div>
            <nav class="orbit-bullets">
                <button class="is-active" data-slide="0">
                    <span class="show-for-sr">First slide details.</span>
                    <span class="show-for-sr" data-slide-active-label>Current Slide</span>
                </button>
                <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
                <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
                <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
            </nav>
        </div>
    </div>





    <div class="dropdown-pane" id="signup-dropdown" data-dropdown data-hover="true" data-hover-pane="true">
        <form>
            <label for="name"><b>name</b></label>
            <input type="text" placeholder="jane doe" name="name" required>

            <label for="email"><b>email</b></label>
            <input type="text" placeholder="janedoe@url.com" name="email" required>

            <button class="btn-submit center" type="button">sign up</button>
        </form>
    </div>

    <div class="dropdown-pane" id="login-dropdown" data-dropdown data-hover="true" data-hover-pane="true">
        <form>
            <label for="email"><b>email</b></label>
            <input type="text" placeholder="youremail@url.com" name="email" required>

            <label for="password"><b>password</b></label>
            <input type="text" placeholder="password123!" name="password" required>

            <button class="btn-submit center" type="button">log in</button>
        </form>
    </div>

    <div class="dropdown-pane menu-list" data-hover="true" data-hover-pane="true" id="menu-list" data-dropdown
        data-auto-focus="true">
        <ul class="vertical menu">
            <li><a href="/explore-text/">text</a></li>
            <li><a href="/explore-audio/">audio</a></li>
            <li><a href="/explore-video/">video</a></li>
            <div class="space"></div>
            <li><a href="/about/">about</a></li>
            <!-- <li><a href="#">how does it work?</a></li> -->
        </ul>
    </div>

</body>
<script type="text/javascript" src="{% static "frontend/main.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'frontend/style.css' %}">

<script type="text/javascript">
    $(document).foundation();
</script>

</html>