{% extends 'base.html.twig' %}

{% block title %}roots - about
{% endblock %}

{%
block body %}
	<div class="jumbotron bg-blue">
		<h1 class="display-6">Welcome to a new kind of platform.</h6>
	</div>
	<div class="text-content">
		<h2 class="text-center" style="margin-bottom: 40px;">Designed with both the consumer and creator experience in mind.</h2>
		<div class="card w-75 mx-auto">
			<div class="card-body">
				<h4>Content Consumer</h4>
				<p style="font-size:1.2rem;">Advertisements are distracting and can cause detriment to the user experience. With Roots, you can find a refined experience through consolidated subscription management and a distractionless media consumption.</p>
				<p style="font-size:1.2rem;margin-bottom: 60px;">Manage your subscriptions to multiple websites on one platform. Be able to calculate your spending more easily.</p>
				
				<h4>Content Creator</h4>
				<p style="font-size:1.2rem;">Media Creators directly benefit from a platform bolstered by a growing community of creators and their followers. Your website and content remains yours.</p>
				<p style="font-size:1.2rem;">Give your followers ease of mind through an easy, secure payment system through the platform.</p>
				<p style="font-size:1.2rem;">And above all, you can monetize your website without having to detract from your followers' experience with advertisements.</p>

				<div class="text-center" style="margin-top: 60px;">
					{% if app.user == NULL %}
						<a href="{{ path('registration') }}" class="btn button-blue">register now!</a>
					{% endif %}<br>
					<a class="btn button-green" href="{{ path('all') }}" style="margin-top:10px;">explore content</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
