{% extends "base.html.twig" %}

{% block title %}
	roots -- explore text
{% endblock %}

{% block body %}
	{{ parent() }}

	<div class="page-body center">
		<h3 class="space2">explore text-based creators.</h3>

		<div class="orbit white-card" role="region" aria-label="Favorite Space Pictures" data-orbit>
			<div class="orbit-wrapper">
				<div class="orbit-controls">
					<button class="orbit-previous">
						<span class="show-for-sr">Previous
														                            Slide</span>&#9664;&#xFE0E;</button>
					<button class="orbit-next">
						<span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
				</div>
				<ul class="orbit-container center">
					<li
						class="is-active orbit-slide">
						<!-- User card example #4 -->
						<div
							class="card-user-container">
							<!--card's image-->
							<div class="card-user-avatar">
								<img src={{ asset('build/images/patrick-brewer.jpg') }} alt="" class="user-image">
							</div>
							<!--user info name, bio and location-->
							<div class="card-user-bio">
								<h4>Patrick Brewer</h4>
								<p class="space">
									Thoughtful, practical, and business-savvy entrepreneurial blogs.
								</p>
								<p class="small-text">
									Empower yourself with the knowledge you need for a successful small business.
																		                                    After successful management of Rose Apothecary, I am extending my services to others.
																		                                    Learn how to put a unique spin on your product today!
								</p>
								<span class="location">
									<span class="location-icon fa fa-map-marker"></span>
									<span class="location-text">Ontario, CA</span>
								</span>
							</div>

							<!--card's follow button-->
							<div class="card-user-button small-text space3">
								<a href="#" class="btn-view">view page</a>
							</div>

							<!--card's socail icons-->
							<div class="card-user-social">
								<ul class="menu">
									<li class="fa fa-twitter"></li>
									<li class="fa fa-dribbble"></li>
									<li class="fa fa-instagram"></li>
									<li class="fa fa-github"></li>
								</ul>
							</div>
						</div>

					</li>
					<li class="orbit-slide">
						<figure class="orbit-figure">
							<img class="orbit-image" src="https://placehold.it/1200x600/888?text=Slide-2" alt="Space">
						</figure>
					</li>
					<li class="orbit-slide">
						<figure class="orbit-figure">
							<img class="orbit-image" src="https://placehold.it/1200x600/777?text=Slide-3" alt="Space">
						</figure>
					</li>
					<li class="orbit-slide">
						<figure class="orbit-figure">
							<img class="orbit-image" src="https://placehold.it/1200x600/666&text=Slide-4" alt="Space">
						</figure>
					</li>
				</ul>
			</div>
			<nav class="orbit-bullets">
				<button class="is-active" data-slide="0">
					<span class="show-for-sr">First slide details.</span>
					<span class="show-for-sr" data-slide-active-label>Current Slide</span>
				</button>
				<button data-slide="1">
					<span class="show-for-sr">Second slide details.</span>
				</button>
				<button data-slide="2">
					<span class="show-for-sr">Third slide details.</span>
				</button>
				<button data-slide="3">
					<span class="show-for-sr">Fourth slide details.</span>
				</button>
			</nav>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">
		$(document).foundation();
	</script>
{% endblock %}
